<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-money-bill-wave m-auto"></i>
            </div>
            <h3>Freedom Equity Group Agent</h3>
            <p class="lead mb-0">One line sentence.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-dolly m-auto"></i>
            </div>
            <h3>Logistics and Event Management</h3>
            <p class="lead mb-0">One line sentence.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-map-marked-alt m-auto"></i>
            </div>
            <h3>Certified Metting and Travel Planner</h3>
            <p class="lead mb-0">One line sentence.</p>
          </div>
        </div>
      </div>
    </div>
  </section>