 <!-- Image Showcases -->
 <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Freedom Equity Group Agent</h2>
          <p class="lead mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nibh. Vivamus turpis orci, elementum et ornare eget, venenatis nec felis. Maecenas id neque non erat porta lobortis. Nulla et magna venenatis ante malesuada tincidunt. Mauris ac tellus leo. Quisque quis augue eu magna pulvinar sodales. Vivamus et ultricies leo. Ut id mattis est, vel ultrices magna. Nulla leo eros, ullamcorper a laoreet sed, condimentum quis metus.
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Logistics and Event Management</h2>
          <p class="lead mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nibh. Vivamus turpis orci, elementum et ornare eget, venenatis nec felis. Maecenas id neque non erat porta lobortis. Nulla et magna venenatis ante malesuada tincidunt. Mauris ac tellus leo. Quisque quis augue eu magna pulvinar sodales. Vivamus et ultricies leo. Ut id mattis est, vel ultrices magna. Nulla leo eros, ullamcorper a laoreet sed, condimentum quis metus.
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Certified Metting and Travel Planner</h2>
          <p class="lead mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nibh. Vivamus turpis orci, elementum et ornare eget, venenatis nec felis. Maecenas id neque non erat porta lobortis. Nulla et magna venenatis ante malesuada tincidunt. Mauris ac tellus leo. Quisque quis augue eu magna pulvinar sodales. Vivamus et ultricies leo. Ut id mattis est, vel ultrices magna. Nulla leo eros, ullamcorper a laoreet sed, condimentum quis metus.
          </p>
        </div>
      </div>
    </div>
  </section>